<br>
<br>

<div class="cuerpo"> 

    <div class="izquierda"> </div> 
  
    <div class="derecha"> </div> 
    
    
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
<ul class="list-group">
    <li class="list-group-item">Nombre de usuario: </li>
  
    <li class="list-group-item list-group-item-success">Tipo de cuenta: </li>
    <li class="list-group-item list-group-item-warning">Numero de cuenta: </li>
    <li class="list-group-item list-group-item-dark">Estado: </li>
    <li class="list-group-item list-group-item-danger">Fecha de apertura:</li>
    <li class="list-group-item list-group-item-primary">Saldo: $</li>
    <li class="list-group-item list-group-item-secondary">Saldo disponible: $</li>

    <li class="list-group-item list-group-item-light"> <a style="color: #393f81;" [routerLink]="['../operaciones']">Ver operaciones disponibles</a></li>

    
</ul>
  </div>
  </div>


  </div>


  
