<br>
<br>

<div class="cuerpo"> 

    <div class="izquierda"> </div> 
  
    <div class="derecha"> </div> 
    
    
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
<ul class="list-group">
    <li class="list-group-item">Nombre de usuario: </li>
  
    <li class="list-group-item list-group-item-success">Tipo de cuenta: </li>
    <li class="list-group-item list-group-item-warning">Numero de cuenta: </li>
    <li class="list-group-item list-group-item-dark">Estado: </li>
    <li class="list-group-item list-group-item-danger">Fecha de apertura:</li>
    <li class="list-group-item list-group-item-primary">Saldo: $</li>
    <li class="list-group-item list-group-item-secondary">Saldo disponible: $</li>

    <li class="list-group-item list-group-item-light"> <a style="color: #393f81;" [routerLink]="['../operaciones']">Ver operaciones disponibles</a></li>

    
</ul>
  </div>
  </div>


  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <div class="label w-100 text-center">Info de tu cuenta</div>
          <li class="list-group-item list-group-item-success text-center">Tipo de cuenta: </li>
    <li class="list-group-item list-group-item-warning">Numero de cuenta: </li>
    <li class="list-group-item list-group-item-dark">Estado: </li>
    <li class="list-group-item list-group-item-danger">Fecha de apertura:</li>
          <div class="description align-self-center">But I must explain to you how all this mistaken idea of denouncing pleasure and praising.</div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <a class="d-flex flex-wrap justify-content-end p-3 block" href="">
          <div class="label w-100 text-right">Label</div>
          <div class="description align-self-end">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</div>
        </a>
      </div>
      <div class="col-12 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" href="">
          <div class="label w-100 text-right">Label</div>
          <div class="description align-self-end">The several languages coalesce.</div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" href="">
          <div class="label w-100 text-right">Label</div>
          <div class="description align-self-end">Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" href="">
          <div class="label w-100 text-right">Label</div>
          <div class="description align-self-end">The new common language will be more simple and regular than the existing European languages.</div>
        </a>
      </div>
    </div>
  </div>
  
