<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Editar cuenta</title>
       
    </head>
    <body style="background-color:#009999" >
        <br/>
        <h1> MyBank </h1>
        <br/>
        <h2>Lista de cuentas: seleccione una para editar/eliminar</h1>
        
           <div th:if="${cuentas != null and !cuentas.empty}" >
            <table border="1" style="text-align: center">
                <tr>
                    <th>Numero cuenta</th>
                    <th>Tipo de cuenta</th>
                    <th>Estado</th>
                    <th>Fecha de apertura</th>
                    <th>Saldo apertura cuenta (COL$)</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    
                    
                </tr>
                <tr th:each="cuenta : ${cuentas}">
                    <td th:text="${cuenta.id_usuario}">Numero de cuenta</td>
                    <td th:text="${cuenta.tipo}">Tipo de cuenta</td>
                    <td th:text="${cuenta.estado}">Estado</td>
                    <td th:text="${cuenta.fecha_apertura}">Fecha de apertura</td>
                    <td th:text="${cuenta.saldo}">Saldo </td>
                    <td> <a th:href="@{/crearCuenta/} + ${cuenta.id_usuario}" th:text="Editar"/></td>
                    <td> <a th:href="@{/eliminarC/} + ${cuenta.id_usuario}" th:text="Eliminar"/></td>
                   
                </tr>
            </table>
        </div>
       
        <br/>
        <br/>
            <a th:href="@{/}"> Regresar </a>
    
    
    </body>
    
</html>