<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MyBank</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
    </head>
    <body style="background-color:#cc6600">
       <h1>&nbsp;&nbsp; Bienvenido a MyBank </h1> 
       <br/>
       <h2>&nbsp;&nbsp; ¿Qué desea hacer?</h2> 
       <br/>
       
       &nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{/crearUsuario}"> Crear Usuario</a>
       <br/>
       <br/>
       <br/>
       &nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{/verUsuarios}"> Editar/Eliminar Usuario</a>
       <br/>
       <br/>
             
       <br/>
       
       <form method="POST" th:action="@{/logout}">
        &nbsp;&nbsp;&nbsp;&nbsp;   <input type="submit" name="Salir" value="Salir"/>
       </form>
       
       
       
    </body>
</html>
