<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Crear usuario</title>
       
    </head>
    <body style="background-color:#999900">
        
        <br/>
        <h1> MyBank </h1>
        <br/>
        <h1>Datos del nuevo usuario</h1>
       
        
    <br/>
        <form th:action="@{/guardar}" method="post" th:object="${usuario}" >
            <input type="hidden" name="id_usuario" th:field="*{id_usuario}"/>
            
            <label for="nombre">Nombre:</label>
            <input type="text" placeholder="Nombre" required="true" autocomplete="off" name="nombre" th:field="*{nombre}"/>
            <br/>
            <br/>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" placeholder="Apellidos" required="true" th:field="*{apellido}"/>
            <br/>
            <br/>
            <label for="tipo_identificacion">Tipo de identificación:</label>
            <input type="text" name="tipo_identificacion" placeholder="CC ó TI" required="true" th:field="*{tipo_identificacion}"/>
            <br/>
            <br/>
            <label for="numero_identificacion">Numero de identificación:</label>
            <input type="text" name="numero_identificacion" placeholder="Numero de identificación" required="true"  th:field="*{numero_identificacion}"/>
            <br/>
            <br/>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Correo electrónico" required="true" th:field="*{email}"/>
            <br/>
            <br/>
            <label for="fecha_nacimiento">Fecha de nacimiento:</label>
            <input type="text" name="fecha_nacimiento" placeholder="dd/mm/aaaa" required="true" th:field="*{fecha_nacimiento}"/>
            <br/>
            <br/>
            <label for="fecha_creacion_cuenta">Fecha creación:</label>
            <input type="text" name="fecha_creacion_cuenta" placeholder="dd/mm/aaaa" required="true" th:field="*{fecha_creacion_cuenta}"/>
            <br/>
            <br/>
            <label for="telefono">Teléfono:</label>
            <input type="tel" name="telefono" placeholder="Teléfono" required="true" th:field="*{telefono}"/>
            <br/>
            <br/>
                       
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    
        <br/>
            <a th:href="@{/}"> Regresar </a>
            
    
    </body>
    
</html>
