<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Productos usuario</title>
        
         <style>
         .boton-personalizado-5 {
            text-decoration:none;
            font-weight: 550;
            font-size: 15px;
            color:#000000;
            padding-top:10px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px;
            background-color: transparent;
            border-width: 2px;
            border-style: solid;
            border-color: #000000;
            }
            .boton-personalizado-5:hover{
              opacity: 0.4;
              text-decoration: none;
            }
            
            .izquierda{
    width: 30%;
    background-color: red;
    display: flex;

}

.derecha{
    width: 30%;
    background-color: blue;
    display: flex;

}

body {
    margin-top: 30px;
    background-color: rgba(86,61,124,.05);
  }
  
  a,
  a:hover {
    color: #212529;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .block {
    height: 350px;
    background: rgba(86,61,124,.15);
    margin-bottom: 30px;
  }
  
  .label {
    font-size: .99rem;
    font-weight: bold;
  }
          </style>
          
    </head>
    
    
    <body style="background-color:#ff6666">
        <br/>
        <h1> MyBank </h1>
        <br/>
        <h2> Los productos contratados por: </h2>
     
        
             <div th:if="${usuario != null }">
            <table border="1" style="text-align: center">
                <tr>
                    
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo identificación</th>
                    <th>Numero identificación</th>
                                               
                </tr>
                <tr th:each="usuario : ${usuario}">
                    
                    <td style="padding: 10px 20px 0px" th:text="${usuario.nombre}">Mostrar Nombre</td>
                    <td th:text="${usuario.apellido}">Mostrar Apellido</td>
                    <td th:text="${usuario.tipo_identificacion}">Tipo identificación</td>
                    <td th:text="${usuario.numero_identificacion}">Numero identificación</td>
                 
                 </tr>
            </table>
                 <br/>
                  <h2> son: </h2>
     
                 
        </div>
        
           <div th:if="${cuenta != null}">
             <table border="1" style="text-align: center">
                <tr>
                    <th>Tipo de cuenta</th>
                    <th>Numero cuenta</th>
                    <th>Estado</th>
                    <th>Fecha de apertura</th>
                    <th>Saldo (COL$)</th>
                                       
                    
                </tr>
                <tr th:each="cuenta : ${cuenta}">
                    <td style="padding: 10px 20px 0px" th:text="${cuenta.tipo}">Tipo de cuenta</td>
                    <td th:text="${cuenta.id_usuario}">Numero de cuenta</td>
                    <td th:text="${cuenta.estado}">Estado</td>
                    <td th:text="${cuenta.fecha_apertura}">Fecha de apertura</td>
                    <td th:text="${cuenta.saldo}">Saldo </td>
                   
                   
                </tr>
            </table>
        </div>
        </br>
        <br/>
            <a class="boton-personalizado-5" th:href="@{/resumenUsuario}"> Regresar </a>
    
    
            <br>
<br>

<div class="cuerpo"> 

    <div class="izquierda"> </div> 
  
    <div class="derecha"> </div> 
    
    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"style="text-align:center">Nombre de usuario: AlbertoPerez55</h3>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
         <br> <div class="label w-100 text-center" style="margin-top: 20px"> Información general de tu cuenta</div>
          
          <div class="container py-5 h-100">
              
            <div class="row d-flex justify-content-center align-items-center h-100">
        <ul class="list-group" style="margin-top: 5px;margin-bottom: 20px">
                       
            <li class="list-group-item list-group-item-success">Tipo de cuenta:  Ahorros</li>
            <li class="list-group-item list-group-item-warning">Número de cuenta: 10212541052</li>
            <li class="list-group-item list-group-item-dark">Estado:  Activa <a><b style="color: #393f81;" [routerLink]="['../operaciones']" > &nbsp; &nbsp; DESACTIVAR</b> </a></li> 
            <li class="list-group-item list-group-item-danger">Fecha de apertura: 20/10/2021</li>
             
        </ul>
          </div>
          </div>

            

        </a>
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <br> <div class="label w-100 text-center" style="margin-top: 20px"> Datos personales</div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 0px">
        <ul class="list-group" style="margin-top: 5px;margin-bottom: 20px">
                     
            <li class="list-group-item list-group-item-primary">Nombre: Alberto </li>
            <li class="list-group-item list-group-item-secondary">Apellidos: Pérez Munuera  </li>
            <li class="list-group-item list-group-item-danger">Correo electrónico: albertoperez55@gmail.com</li>
        </ul>
          </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <br> <div class="label w-100 text-center" style="margin-top: 20px"> Fotografía</div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 0px; margin-bottom: 0px;">
        
              <img
              src="https://us.123rf.com/450wm/mimagephotography/mimagephotography1812/mimagephotography181200205/113230400-primer-plano-retrato-de-hombre-latino-guapo-contra-el-fondo-blanco-aislado.jpg?ver=6"
              alt="login form"
              class="img-fluid" style="border-radius: 1rem 1rem 1rem 1rem; margin-top: 0px; margin-bottom: 5px;"
            />
          </div>
          </div>
        </a>
      </div>
      
      <div class="col-12 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <br> <div class="label w-100 text-center" style="margin-top: 20px"> Productos asociados a tu cuenta</div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
        
        <ul class="list-group" style="margin-top: 5px; margin-bottom: 20px">
            <li class="list-group-item active" aria-current="true">Tarjetas de débito</li>
            <li class="list-group-item">Tarjetas de crédito</li>
            <li class="list-group-item">Préstamos</li>
            <li class="list-group-item">Crédito hipotecario</li>
            
          </ul>
        
        </div>
        </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <br> <div class="label w-100 text-center" style="margin-top: 20px"> Saldo de tu cuenta</div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 0px">
        <ul class="list-group" style="margin-top: 5px; margin-bottom: 20px">
                     
            <li class="list-group-item list-group-item-primary">Saldo total: $ 1.500.352,50 </li>
            <li class="list-group-item list-group-item-secondary">Saldo disponible: $ 1.300.352,50 </li>
            <li class="list-group-item list-group-item-danger">Retenciones: $ 200.000</li>
        
            <li class="list-group-item list-group-item-light"> <a> <b style="color: #393f81;" [routerLink]="['../operaciones']">VER RETENCIONES</b></a></li>
        </ul>
          </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <a class="d-flex flex-wrap justify-content-end p-3 block" >
          <br> <div class="label w-100 text-center" style="margin-top: 20px"> Transferencias </div>
          <br>
<br>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

<ul class="list-group" style="margin-top: 5px; margin-bottom: 20px">
    <li class="list-group-item active" aria-current="true">Nueva transferencia</li>
    <li class="list-group-item">Historial de transferencias</li>
    <li class="list-group-item">Inscribir cuenta</li>
    <li class="list-group-item">Ver cuentas favoritas</li>
    
  </ul>

</div>
</div>
        </a>
      </div>
    </div>
  </div>
            
            
    </body>
    
</html>

