<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Editar/Eliminar usuarios</title>

    </head>
    
    
    <body style="background-color:#6666ff">
        <br/>
        <h1> MyBank </h1>
        <br/>
        <h2> Seleccione al usuario para ver sus productos contratados</h2>
        </br>
        
        
    <br/>
        
        
           <div th:if="${usuarios != null and !usuarios.empty}">
            <table border="1">
                <tr>
                    <th>Numero banco</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo identificación</th>
                    <th>Numero identificación</th>
                    <th>Ver productos contratados</th>
                    
                    
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id_usuario}">Mostrar Numero banco</td>
                    <td th:text="${usuario.nombre}">Mostrar Nombre</td>
                    <td th:text="${usuario.apellido}">Mostrar Apellido</td>
                    <td th:text="${usuario.tipo_identificacion}">Tipo identificación</td>
                    <td th:text="${usuario.numero_identificacion}">Numero identificación</td>
                    <td> <a th:href="@{/productosUsuario/} + ${usuario.id_usuario}" th:text="Ver_productos"/></td>
                    
                </tr>
            </table>
        </div>
        </br>
        <br/>
            <a th:href="@{/}"> Regresar </a>
    
    
    </body>
    
</html>