<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Lista de usuarios</title>
       
    </head>
    <body style="background-color:#999900">
        <br/>
        <h1> MyBank </h1>
        <br/>
        <h1>Lista de usuarios</h1>
        
           <div th:if="${usuarios != null and !usuarios.empty}">
            <table border="1">
                <tr>
                    <th>Numero banco</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo identificación</th>
                    <th>Numero identificación</th>
                    <th>Email</th>
                    <th>Fecha de nacimiento</th>
                    <th>Fecha creación</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id_usuario}">Mostrar Numero banco</td>
                    <td th:text="${usuario.nombre}">Mostrar Nombre</td>
                    <td th:text="${usuario.apellido}">Mostrar Apellido</td>
                    <td th:text="${usuario.tipo_identificacion}">Tipo identificación</td>
                    <td th:text="${usuario.numero_identificacion}">Numero identificación</td>
                    <td th:text="${usuario.email}">Mostrar Email</td>
                    <td th:text="${usuario.fecha_nacimiento}">Fecha nacimiento</td>
                    <td th:text="${usuario.fecha_creacion_cuenta}">Fecha creacion cuenta</td>
                    <td th:text="${usuario.telefono}">Mostrar Teléfono</td>
                    <td> <a th:href="@{/editar/} + ${usuario.id_usuario}" th:text="Editar"/></td>
                    <td> <a th:href="@{/eliminar/} + ${usuario.id_usuario}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
       
        <br/>
            <a th:href="@{/}"> Regresar </a>
    
    
    </body>
    
</html>
