<br>
<br>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Operaciones disponibles</li>
    <li class="list-group-item">Ver retenciones</li>
    <li class="list-group-item">Desactivar cuenta</li>
    <li class="list-group-item">Ver tarjetas asociadas a la cuenta</li>
    <li class="list-group-item">Ver resumen de cuenta</li>
    <li class="list-group-item">Solicitar préstamo</li>
    <li class="list-group-item">Solicitar tarjeta de crédito</li>
    <li class="list-group-item">Contratar fondo de pensiones</li>
    <li class="list-group-item">Solicitar crédito hipotecario</li>
  </ul>

</div>
</div>