
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Crea tu cuenta</h3>
            <form>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <select class="select form-control-lg">
                    <option value="1" disabled>Elije una opción</option>
                    <option value="2">Ahorros</option>
                    <option value="3">Corriente</option>
                    
                  </select>
                  <br>
                  <label class="form-label" for="form3Example1c">Elige el tipo de cuenta</label>
                  <br>
                  <br>
                  <div class="form-outline">
                    <input type="number" id="id" class="form-control form-control-lg" placeholder="Número de identificación" required/>
                    <label class="form-label" >Número de identificación</label>
                  </div>

                  <div class="form-outline">
                    <br>
                    <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Nombre" required/>
                    <label class="form-label" for="firstName">Nombre</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <select class="select form-control-lg">
                    <br>
                    <option value="1" disabled>Elije una opción</option>
                    <option value="2">Cedula de ciudadania</option>
                    <option value="3">Pasaporte</option>
                    <option value="3">Tarjeta de identidad</option>
                    
                  </select>
                  <br>
                  <label class="form-label" for="form3Example1c">Elige el tipo de identificación</label>
                  
                  <div class="form-outline datepicker w-100">
                    <br>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="birthdayDate"
                      placeholder="Fecha de nacimiento"
                      required
                    />
                    <label for="birthdayDate" class="form-label">Fecha de nacimiento</label>
                  </div>

                  <div class="form-outline">
                    <br>
                    <input type="text" id="lastName" class="form-control form-control-lg" placeholder="Apellidos" required />
                    <label class="form-label" for="lastName">Apellidos</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" placeholder="Correo electrónico" required />
                    <label class="form-label" for="emailAddress">Correo electrónico</label>
                  </div>
  
                  
                </div>
                
                
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Género: </h6>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="femaleGender"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="femaleGender">Femenino</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="maleGender"
                      value="option2"
                    />
                    <label class="form-check-label" for="maleGender">Masculino</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="otherGender"
                      value="option3"
                    />
                    <label class="form-check-label" for="otherGender">Otro</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline mb-4">
                    <input type="text" name="usuario"  id="form2Example17" placeholder="Usuario" class="form-control form-control-lg" ngModel required size="8" autocomplete="off"/>
                    <label class="form-label" for="form2Example17">Usuario</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline mb-4">
                    <input type="password"name="contrasena" id="form2Example27" placeholder="Contraseña" class="form-control form-control-lg" ngModel required size="10" autocomplete="off" />
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>

                </div>
              </div>

              

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Crear cuenta" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<br>
<br>
<br>
